<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% if title %}
    <title>TiQeto * {{ title }}</title>
    {% else %}
    <title>TiQeto</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    {% block head %}
    <!-- head -->
    {% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
      crossorigin="anonymous"
    />
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TiQeto</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('categories') }}">Settings</a>
          </li>
        </ul>
        <a class="btn btn-primary btn-sm text-white" href="{{ url_for('new')}}"
          >Create TiQet</a
        >
      </div>
    </nav>
    <div class="container">
      {% block content %}
      <!-- content -->
      {% endblock %}
    </div>
    <div class="snackbar" id="snackbar">
      Succes
    </div>
    {% block script %}
    <!-- head -->
    {% endblock %}
  </body>
</html>
