<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% if title %}
    <title>TiQeto * {{ title }}</title>
    {% else %}
    <title>TiQeto</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />
    <script
      src="https://kit.fontawesome.com/951eddeeb3.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/autosize/dist/autosize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstraptheme.css') }}"
      crossorigin="anonymous"
    />
    {% block head %}
    <!-- head -->
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary navbar-app">
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">TiQeto</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('categories') }}">Settings</a>
          </li>
        </ul>
        <div class="ml-2 d-flex align-items-center">
          {% if user %}
          <a class="btn btn-outline-warning" href="{{ url_for('auth_profile')}}"
            >Hi {{ user['username'] }}</a
          >
          {% else %}
          <a class="btn btn-outline-warning btn-sm" href="{{ url_for('login')}}"
            >Login</a
          >
          {% endif %}
        </div>
      </div>
      <div class="semiCircle">
        <a class="semiCircleInter btn btn-outline-warning" href="{{ url_for('new')}}"
          >New TiQet</a
        >
      </div>
    </nav>
    <div id="app" class="container-md mt-4">
      {% block content %}
      <!-- content -->
      {% endblock %}
    </div>
    <div class="snackbar" id="snackbar">
      Succes
    </div>
    {% if user %}
    <script>
      const USER_ID = '{{ user["id_user"] }}';
      const USER_USERNAME = '{{ user["username"] }}';
      const USER_EMAIL = '{{ user["email"] }}';
    </script>
    {% endif %} {% block script %}
    <!-- head -->
    {% endblock %}
  </body>
</html>
