{% extends "model/layout.html" %}
<!-- block head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}" />
{% block link %} {% endblock %} {% endblock %}
<!-- start block content -->
{% block content %}

<div class="row">
  <nav class="col-sm-3">
    <div class="settings-nav border rounded mr-2 pt-2 pl-2 shadow-sm">
      <div class="title mb-1">
        <h6 class="title-h6">App</h6>
      </div>
      {% if "Categories" == title_setting or "Category" == title_setting %}
      <div class="nav-bar mr-4 p-1 rounded bg-primary">
        <a href="{{ url_for('categories') }}" class="nav-a text-white d-block"
          >Categories</a
        >
      </div>
      {% else %}
      <div class="nav-bar mr-4 p-1 rounded">
        <a href="{{ url_for('categories') }}" class="nav-a d-block">Categories</a>
      </div>
      {% endif %} {% if "Priority" == title_setting %}
      <div class="nav-bar mr-4 p-1 rounded bg-primary">
        <a href="{{ url_for('priorities') }}" class="nav-a text-white d-block"
          >Priority</a
        >
      </div>
      {% else %}
      <div class="nav-bar mr-4 p-1 rounded">
        <a href="{{ url_for('priorities') }}" class="nav-a d-block">Priority</a>
      </div>
      {% endif %} {% if "Users" == title_setting %}
      <div class="nav-bar mr-4 p-1 rounded bg-primary">
        <a href="#" class="nav-a text-white d-block">Users</a>
      </div>
      {% else %}
      <div class="nav-bar mr-4 p-1 rounded">
        <a href="#" class="nav-a d-block">Users</a>
      </div>
      {% endif %} {% if user %}
      <div class="title mb-1 mt-2">
        <h6 class="title-h6">Account</h6>
      </div>
      {% if "Profile" == title_setting %}
      <div class="nav-bar mr-4 p-1 rounded bg-primary">
        <a href="{{ url_for('auth_profile') }}" class="nav-a text-white d-block"
          >Profile</a
        >
      </div>
      {% else %}
      <div class="nav-bar mr-4 p-1 rounded">
        <a href="{{ url_for('auth_profile') }}" class="nav-a d-block">Profile</a>
      </div>
      {% endif %} {% if "Security" == title_setting %}
      <div class="nav-bar mr-4 p-1 rounded bg-primary">
        <a href="{{ url_for('auth_security') }}" class="nav-a text-white d-block"
          >Security</a
        >
      </div>
      {% else %}
      <div class="nav-bar mr-4 p-1 rounded">
        <a href="{{ url_for('auth_security') }}" class="nav-a d-block">Security</a>
      </div>
      {% endif %} {% endif %}
    </div>
  </nav>
  <div class="settings col-sm-8 border rounded shadow-sm">
    <div class="border-bottom mt-2 pl-2">
      <h3>{{ title_setting }}</h3>
    </div>
    <div class="pl-2 pr-2 mt-2">
      {% block setting %} {% endblock %}
    </div>
  </div>
</div>
<!-- end content -->
{% endblock content %} {% block script %}
<!-- block children script -->
{% block script_setting %} {% endblock script_setting %}
<!-- endblock -->
{% endblock script%}
