<!-- tiqet: one tiqet -->
{% extends "model/layout.html" %}
<!-- block content -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tiqet.css') }}" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='node_modules/jquery-nice-select/css/nice-select.css') }}"
/>
{% endblock %} {% block content %}
<div class="d-flex rounded border">
  {% if tiqet %}
  <div
    class="bg-light container-tiqet d-flex flex-column justify-content-between rounded w-75"
  >
    <div class="p-3">
      <!-- title component -->
      {% include "tiqet/title.html" %}
      <!-- content component -->
      {% include "tiqet/content.html" %}
      <!-- comments component-->
      {% include "tiqet/comments.html" %}
    </div>
    <!-- make comment component -->
    {% include "tiqet/make_comment.html" %}
  </div>
  <div class="sidebar w-25 bg-dark rounded position-relative">
    {% include "tiqet/sidebar.html" %}
  </div>
  <!-- If backend send 0 ticket -->
  {% else %}
  <div class="w-100">
    <div class="alert alert-danger" role="alert">
      Database server has problem. Check if all is ready or realod page.
    </div>
    <div class="alert alert-info mt-1" role="alert">
      You're request ID can be undefined, check it out
      <a class="btn-link btn-sm" href="{{ url_for('dashboard') }}">on dashboard</a>
    </div>
  </div>
  {% endif %}
</div>
<!-- end content -->
{% endblock content %} {% block script %}
<script>
  const TIQET_ID = "{{ tiqet['id_tiqet'] }}";
  const ITEM_ID = "{{ tiqet['id_item'] }}";
</script>
<script src="{{ url_for('static', filename='node_modules/jquery-nice-select/js/jquery.nice-select.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/tiqet.js') }}"></script>
<script
  type="module"
  src="{{ url_for('static', filename='js/tiqetSidebar.js') }}"
></script>
<script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.js') }}"></script>
{% endblock script %}
