<div class="title-block d-flex align-items-center">
  <!-- prettier-ignore -->
  <h1 class="title" id="title" >{% if tiqet["title"] %}{{ tiqet["title"] }} {% else %}No title{% endif %}</h1>
  <img
    id="image-title"
    class="title-edit-icon"
    src="{{ url_for('static', filename='images/edit_icon.svg') }}"
  />

  <input
    class="input-title bg-white rounded mr-2 form-control"
    type="text"
    style="display: none;"
    id="input-title"
  />
  <button class="btn btn-primary" style="display: none;" id="button-title">
    Save  
  </button>
</div>
