{% extends "model/settings.html" %}
<!-- items = [array of item] category = obj -->
<!-- block content -->
{% block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/auth_profile.css') }}"
/>
{% endblock %}
<!--        body-->
{% block setting %} {% if user %}
<div>
  <div
    class="alert alert-danger"
    style="display: none;"
    role="alert"
    id="auth-helper"
  ></div>
  <div>
    <label class="label" for="auth-username">Old password</label>
    <input
      id="auth-username"
      class="form-control form-control-sm"
      value="{{ user['username'] }}"
      disabled
    />
  </div>
  <div>
    <label class="label" for="auth-username">New password</label>
    <input
      id="auth-email"
      class="form-control form-control-sm"
      value="{{ user['email'] }}"
      disabled
    />
  </div>
  <div>
    <label class="label" for="auth-username">New password confirmation</label>
    <input
      id="auth-email"
      class="form-control form-control-sm"
      value="{{ user['email'] }}"
      disabled
    />
  </div>
  <div class="d-flex justify-between mt-2 mb-2 flex-row-reverse">
    <button id="save-button" class="btn btn-sm btn-success">
      Save
    </button>
  </div>
</div>
{% endif %}
<!-- end setting -->
{% endblock setting %} {% block script_setting %}
<script src="{{ url_for('static', filename='js/auth_security.js') }}"></script>
{% endblock script_setting %} >
