<div class="label mb-4 border shadow p-2 rounded">
  <div class="d-flex">
    <div class="input-block mr-2">
      <label class="label" for="label-name-{{ label['id_label'] }}">Name</label>
      <input
        id="label-name-{{ label['id_label'] }}"
        class="form-control form-control-sm"
        value="{{ label['name'] }}"
        disabled
      />
    </div>
    <div class="input-block ml-2">
      <label class="label" for="label-color-{{ label['id_label'] }}">Color</label>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input
          id="label-color-{{ label['id_label'] }}"
          class="form-control"
          value="{{ label['color'] }}"
          disabled
        />
      </div>
    </div>
  </div>
  <div class="input-block">
    <label class="label" for="label-description-{{ label['id_label'] }}"
      >Description</label
    >
    <textarea
      id="label-description-{{ label['id_label'] }}"
      class="form-control form-control-sm"
      disabled
    >
{{ label['description'] }}</textarea
    >
  </div>
  <div class="item-button d-flex justify-content-between mt-1 mb-1">
    <button
      id="label-delete-{{ label['id_label'] }}"
      type="button"
      style="display: none;"
      class="btn btn-warning btn-outlined btn-sm"
      onclick="toggleLabelModal(`{{ label['id_label'] }}`)"
    >
      <i class="fas fa-trash-alt fa-md"></i>
    </button>
    <div class="w-100 d-flex flex-row-reverse">
      <button
        id="label-edit-{{ label['id_label'] }}"
        type="button"
        class="btn btn-link btn-sm"
        onclick="onEditLabel(`{{ label['id_label'] }}`)"
      >
        Edit
      </button>
      <button
        id="label-save-{{ label['id_label'] }}"
        type="button"
        style="display: none;"
        class="btn btn-warning btn-sm"
        onclick="onSaveLabel(`{{ label['id_label'] }}`)"
      >
        Save
      </button>
    </div>
  </div>
</div>
