.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.column {
  display: flex;
  width: 324px !important;
  flex-direction: column;
}

.column-tiqet {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tiqet {
  cursor: pointer;
}

.tiqet .title {
  font-size: 16px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  min-width: 1px;
}

.tiqet .info {
  font-size: 12px;
}

.tiqet .data-display .user-data {
  width: 32px;
  height: 32px;
  align-items: center;
  background-color: rgb(23, 162, 184, 0.4);
  border: 2px solid rgb(23, 162, 184, 0.8);
}

.tiqet .data-display .user-data span {
  font-size: 18px;
}

.tiqet .data-display .priority-data .priority-icon {
  width: 20px;
  position: relative;
  top: 2px;
}
.tiqet .data-display .priority-data {
  height: 32px;
  align-items: center;
  background-color: rgb(255, 193, 6, 0.2);
  border: 2px solid rgb(255, 193, 6, 0.5);
}

.tiqet .data-display .priority-data span {
  font-size: 14px;
}
.tiqet .data-display {
  display: flex;
}
