.container-new-tiqet {
  width: 540px;
  margin: auto;
}

.label {
  font-size: 12px;
  margin-bottom: 2px;
}

.checkbox-priority {
  border: 1px solid black;
  border-radius: 0px;
}

.nice-select-custom ul li {
  /* height: 48px;
  font-size: 14px;
  padding: 4px; */
  width: 100% !important;
}
