.container-tiqet {
  width: 100%;
  min-width: 512px;
  max-width: 1024px;
}

/* title style "title.html" */

.title {
  font-size: 2.5em !important;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
  width: 100%;
  cursor: pointer;
  margin-top: 0px !important;
}

.title:hover + .title-edit-icon {
  visibility: visible !important;
}

.title-edit-icon {
  width: 2.5em;
  height: 2.5em;
  visibility: hidden;
}

.input-title {
  cursor: text;
  margin-top: 8px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding: 0px 8px 0px 8px !important;
  line-height: 1.2 !important;
  font-size: 2.5em !important;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  width: 100%;
}

/* content style "content.html" */

.content-icon {
  width: 2em;
  height: 2em;
  background-color: rgb(94, 67, 137, 0.6);
}

.content {
  width: 100%;
}

.content-edit-icon {
  visibility: hidden;
  width: 18px;
  height: 18px;
}

.content:hover + .content-edit-icon {
  visibility: visible !important;
}

.input-content {
  font-size: 1rem !important;
}

/*  comment style "comments.html" */

.comment-icon {
  width: 2em;
  height: 2em;
  background-color: rgb(255, 193, 7, 0.4);
}

.usernamme-data {
  margin-top: 26px;
  width: 32px;
  height: 32px;
  align-items: center;
  background-color: rgb(94, 67, 137, 0.4);
  border: 2px solid rgb(94, 67, 137, 0.8);
}

.usernamme-data span {
  font-size: 18px;
}

.comment-data {
  font-size: 14px;
}

.sidebar {
  min-width: 224px;
}

.input-comment button {
  height: 32px;
}

#comments {
  max-height: 500px;
  overflow-y: scroll;
}
