{% extends "model/layout.html" %}
<!-- block content -->
{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/categories.css') }}"
/>
{% endblock %} {% block content %}
<div class="border category-list-block">
  <h1>All Category</h1>
  <div class="category-list">
    {% if categories %}
    <!-- if categories-->
    {% for category in categories %}
    <div class="category-block">
      <div class="title-id">
        {% if category["name"] %}
        <h3>{{ category["name"] }}</h3>
        {% else %}
        <h3 class="no-title">No-title</h3>
        {% endif %}
        <a class="link" href="{{ url_for('category', id=category['id_category']) }}"
          >edit category and item
        </a>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
  <form method="POST" action="/category/new">
    <legend>Crée une category !</legend>
    <div class="input-group flex-nowrap mt-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="name">name</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        name="category_name"
        aria-describedby="addon-wrapping"
      />
    </div>
    <div class="input-group flex-nowrap mt-1">
      <div class="input-group-prepend">
        <span class="input-group-text" id="message">Description</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Description"
        aria-label="Username"
        name="category_description"
        aria-describedby="addon-wrapping"
      />
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages
    %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <input type="submit" value="SUBMIT" class="btn btn-primary margin-top" />
  </form>
</div>
<!-- end content -->
{% endblock content %}
