{% extends "model/layout.html" %}
<!-- block content -->
{% block content %}
<form method="POST" action="/form">
  <div class="input-group flex-nowrap">
    <div class="input-group-prepend">
      <span class="input-group-text" id="name">Prénom</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      name="username"
      aria-describedby="addon-wrapping"
    />
  </div>
  <div class="input-group flex-nowrap">
    <div class="input-group-prepend">
      <span class="input-group-text" id="message">Message</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      name="message"
      aria-describedby="addon-wrapping"
    />
  </div>
  <input type="submit" value="SUBMIT" class="btn btn-primary" />
</form>

{% if name %}
<h1>Mon nom est : {{ name }}</h1>
{% endif %}
<!-- end -->
{% if message %}
<p>Et : {{ message }}</p>
{% endif %}
<!-- endblock -->
{% endblock content %}
