<div
  class="state border-top border-bottom d-flex justify-content-between p-1 align-items-center"
>
  <div>
    <p
      id="name-{{ state['id_state'] }}"
      onclick="onEditName(`{{ state['id_state'] }}`)"
    >
      {{ state["name"] }}
    </p>
    <input
      type="text"
      name=""
      id="name-i-{{ state['id_state'] }}"
      value="{{ state['name'] }}"
      class="form-control form-control-sm"
      style="display: none;"
      onblur="onSaveName(`{{ state['id_state'] }}`)"
    />
  </div>
  <div>
    <button
      id="delete-{{ state['id_item'] }}"
      type="button"
      class="btn btn-outlined btn-sm"
      onclick="toggleDelete(`{{ state['id_state'] }}`)"
    >
      <i class="fas fa-trash-alt fa-md"></i>
    </button>
    <label for="display-{{ state['id_state'] }}">Display </label>
    <input type="checkbox" name="" id="display-{{ state['id_state'] }}"
    onchange="onEditDisplay(`{{ state['id_state'] }}`)" {% if state['display'] ==
    True %} checked {% endif %} />
  </div>
</div>
