<!-- tiqets: array of tiqet, states: array of state -->
{% extends "model/layout.html" %}
<!-- block content -->
{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>
{% endblock %} {% block content %}
<!-- flash message -->
{% include "components/flash.html" %}

<div class="dashboard mt-4">
  {% if states and tiqets %} {% for state in states %} {% if state["display"] %}
  <div class="column border rounded">
    <div
      class="column-title rounded-top bg-primary d-flex justify-content-center align-items-center p-1"
    >
      <h5 class="text-white mt-1">{{ state["name"] }}</h5>
    </div>
    <div
      class="column-tiqet pt-1 pb-1"
      id="{{ state['name'] }}"
      data-stateid="{{ state['id_state'] }}"
    >
      {% for tiqet in tiqets %} {% if tiqet["id_state"] == state["id_state"] %}
      <div
        class="tiqet border rounded p-2 mr-2 ml-2 mt-1 mb-1 bg-light"
        onclick="location.href=`{{ url_for('tiqet', id_tiqet=tiqet['id_tiqet']) }}`"
        data-tiqetid="{{ tiqet['id_tiqet'] }}"
      >
        <span class="title text-black">{{ tiqet["title"] }}</span>
        <span class="info text-black-50"
          >{{ tiqet["name_item"] }} • {{ tiqet["created_at"].strftime("%x") }}</span
        >
        <div class="data-display mt-1">
          {% if tiqet["username"] %}
          <div
            class="user-data rounded-circle d-flex justify-content-center mr-2"
            title="{{ tiqet['username'] }}"
          >
            <span>{{ tiqet["username"].upper()[0] }}</span>
          </div>
          {%endif%} {% if tiqet["name_priority"] %}
          <div
            class="priority-data rounded-pill d-flex justify-content-center pl-1 pr-1"
            title="{{ tiqet['username'] }}"
          >
            <img
              src="{{ url_for('static', filename='images/flag_icon.svg') }}"
              alt="flag"
              class="priority-icon"
            />
            <span class="text-black ml-1">{{ tiqet["name_priority"] }}</span>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
  {% endif %} {% endfor %}{% endif %}
</div>
<!-- end content -->
{% endblock content %} {% block script %}
<script src="{{ url_for('static', filename='node_modules/sortablejs/Sortable.min.js') }}"></script>

{% if states and tiqets %} {% for state in states %} {% if state["display"] %}
<script>
  Sortable.create(document.getElementById("{{ state['name'] }}"), {
    animation: 150,
    group: {
      name: "shared",
    },
    sort: true,
    onEnd: (event) => {
      onEnd(event);
    },
  });
</script>
{% endif %} {% endfor %}{% endif %}

<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

{% endblock script %}
