{% extends "model/settings.html" %}
<!-- block content -->
{% block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/categories.css') }}"
/>
{% endblock %} {% block setting %}
<div class="category-list-block">
  <div class="category-list p-2">
    {% if categories %}
    <!-- if categories-->
    {% for category in categories %}
    <div class="category-block border-bottom">
      <div class="title-id">
        {% if category["name"] %}
        <h3>{{ category["name"] }}</h3>
        {% else %}
        <h3 class="no-title">No-title</h3>
        {% endif %}
        <a
          class="link"
          href="{{ url_for('category', id_category=category['id_category']) }}"
          >edit category and item
        </a>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
  <form method="POST" action="/category" class="mt-4" id="form-categories">
    <legend>Crée une category !</legend>
    <div class="input-block">
      <label class="label" for="category-name">Name</label>
      <div class="flex-center">
        <input
          type="text"
          id="name-category-new"
          class="form-control"
          placeholder="Name you're category "
          aria-label="name"
          name="category_name"
          aria-describedby="addon-wrapping"
        />
      </div>
    </div>
    <div class="input-block mt-2">
      <label class="label" for="category-name">Description</label>
      <div class="flex-center">
        <textarea
          type="text"
          class="form-control"
          placeholder="Describe you're category"
          aria-label="Username"
          name="category_description"
          aria-describedby="addon-wrapping"
          id="description-category-new"
        ></textarea>
      </div>
    </div>
    <div class="mt-2">
      {% include 'components/flash.html' %}
    </div>
    <div class="mt-2 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-sm btn-primary margin-top"
        onclick="onSubmitCategory()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
<!-- end content -->
{% endblock setting %} {% block script_setting %}
<script>
  const category_item = `{{ items }}`;
</script>
<script src="{{ url_for('static', filename='js/category.js') }}"></script>
{% endblock script_setting %}
